@media (min-width:375){
    
}
.container{
    box-sizing:border-box;
    display: flex;
    padding-top: 15%;
}

.aboutDiv{
    padding-left: 7%;
    max-width: 40%;
}
 
.aboutDiv .aboutTittle{
    color:#14bf98;
    font: 500 0.8125rem/1.125rem "Montserrat",sans-serif;
    text-align: left;
    margin-bottom: 0.1rem;
}

.aboutDiv h1{
    font:800 1.75rem/2.125rem "Montserrat",sans-serif;
    color: black;
    text-align: left;
}

.aboutDiv p{
    color: #787976;
    font: 400 1rem/1.5625rem "Open Sans",sans-serif;
    text-align: left;
}

.aboutList li{
    color: #787976;
    font: 400 1rem/1.5625rem "Open Sans",sans-serif;
    list-style-type: square;
    text-align: left;
} 

li::marker {
    color: #20c997;
    font-size:20px;
  }
  
  .img-div{
   width: 40rem;
    height: auto;
    border-radius: 0.25rem;
  }
  