.crouselh2{
    margin-bottom: 0.75rem;
    color: #484a46;
    font:700 1.75rem/2.125rem "Montserrat",sans-serif;
    text-align: center;
}

.crouselPara{
    text-align: center;
    margin-bottom: 3.5rem;
    color: #787976;
    font: 400 1rem/1.5625rem "Open Sans",sans-serif;
}