@media (min-width:764px){
    .main-form-div{
        background-color: #113448;
        color: white;
        padding: 2%;
        width: 100%;
    
    }
    .form-div{
        display: flex;
    }
    .form-div a{
        color: white;
    }
    .paraDiv p{
        color: white;
        width: 90%;
    }
    .paraDiv{
        margin-left: 10%;
        font-size: 0.875em;
    }
     .link-div{
        display: flex;
        margin-right: 5%;
        gap:30%;
        line-height: 2rem;
    }
    .footer-para{
        color: white;
        text-align: center;
        font-size: 1rem;
        margin-top: 2%;
        /* padding-bottom: 2%; */
    }
    }
    .main-form-div{
        background-color: #113448;
        color: white;
        padding: 2%;
    
    }
    .form-div{
        display: flex;
    }
    .form-div a{
        color: white;
    }
    .paraDiv p{
        color: white;
        width: 75%;
    }
    .paraDiv{
        margin-left: 10%;
        font-size: 0.875em;
    }
     .link-div{
        display: flex;
        margin-right: 35%;
        gap:30%;
        line-height: 2rem;
    }
    .footer-para{
        color: white;
        text-align: center;
        font-size: 1rem;
        margin-top: 2%;
        /* padding-bottom: 2%; */
    }